// All Styles
// =============================

body {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

header {
	position: relative;
	width: 100%;
	height: 100vh;

	nav {
		height: 100%;
		width: 100%;
		background: pink;
		transform: translateY(-100%);
		position: absolute;
		top: 0;
	}
}