// All Styles
// =============================

@mixin Main-Font {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px	
}

@mixin Secondary-Font {
	font-family: 'Inconsolata', sans-serif;
    letter-spacing: 1px;
}

@mixin No-Margin-Or-Padding {
	margin: 0 auto;
	padding: 0;
}

$body-color: #F1E8DB;
$nav-background: #D0E3EF;
$button-color: #1059DE;
$primary-color: #fff;
$secondary-color: #002465;
$accent-color: #C1D8E6;

body {
	background: $body-color;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	@include No-Margin-Or-Padding;
}

header {
	position: relative;
	width: 100%;
	height: 100vh;

	section {
		position: absolute;
		top: 0;
		padding: 0 5%;
	}

	h1 {
		margin: 15vh 0 0;
		font-size: 20px;
		text-align: center;
		@include Main-Font;
	}

	p {
		line-height: 30px;
		text-indent: 30px;
		@include Secondary-Font;
	}

	button {
		border: 0;
		width: 100%;
		background: $button-color;
		height: 10vh;
		position: absolute;
		top: 0;
		z-index: 2;
		font-size: 20px;
		color: $primary-color;
		@include Main-Font;

		@media screen and (min-width: 768px) {
			display: none;
		}		

		&[data-menu-state='isOpen'] {
			transform: translateY(90vh);
			transition: .3s ease-in;
		}

		&[data-menu-state='isClosed'] {
			transition: .15s ease-out;
		}
	}

	nav {
		height: 100vh;
		width: 100%;
		background: $nav-background;
		position: absolute;
		top: 0;
		z-index: 1;
		transform: translateY(-100%);

		@media screen and (min-width: 768px) {
			height: auto;
			background: rgba(208, 227, 239, 0.55);
			transform: translateY(0);
			border-bottom: 1px solid $accent-color;
		}

		&[data-menu-state='isOpen'] {
			transform: translateY(0);
			transition: .3s ease-in;
		}		

		&[data-menu-state='isClosed'] {
			transition: .15s ease-out;
		}	

		ul {
			list-style: none;
			text-align: center;
			@include No-Margin-Or-Padding;
		}	

		li {
			border-bottom: 1px solid $accent-color;

			@media screen and (min-width: 768px) {
				display: inline-block;
				border: 0;
			}			

			a {
				padding: 20px 0;
				display: block;
				text-decoration: none;
				color: $secondary-color;
				font-size: 20px;
				position: relative;
				@include Secondary-Font;
				transition: .15s ease-out;

				@media screen and (min-width: 768px) {
					padding: 20px;
					border-top-right-radius: 20px;
    				border-top-left-radius: 20px;
    				margin-top: 10px;
				}

				&:hover {
					background: $accent-color;
					transition: .15s ease-in;
				}
			}
		}
	}
}